<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ahn.mirim.firstiamnotme">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="신이 선생님을 만들 때"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SurfaceViewActivity"
            android:screenOrientation="landscape"
            ></activity>
        <activity android:name=".Help"
            android:screenOrientation="landscape"/>
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

</manifest>